/**** Isotope filtering and Portfolio ****/
.isotope-hidden.isotope-item
{ pointer-events:none;
  z-index:1; }

.isotope,.isotope .isotope-item
{ -webkit-transition-duration:.5s;
  -moz-transition-duration:.5s;
  -ms-transition-duration:.5s;
  -o-transition-duration:.5s;
  transition-duration:.5s; }

.isotope
{ -webkit-transition-property:height,width;
  -moz-transition-property:height,width;
  -ms-transition-property:height,width;
  -o-transition-property:height,width;
  transition-property:height,width; }

.isotope .isotope-item
{ -webkit-transition-property:-webkit-transform,opacity;
  -moz-transition-property:-moz-transform,opacity;
  -ms-transition-property:-ms-transform,opacity;
  -o-transition-property:top,left,opacity;
  transition-property:transform,opacity; }

.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition
{ -webkit-transition-duration:0;
  -moz-transition-duration:0;
  -ms-transition-duration:0;
  -o-transition-duration:0;
  transition-duration:0; 
}