body{
font-family: "Strait", Arial, Helvetica, sans-serif;
background:#222 url('../img/Flat_Earth_Logo.png') center no-repeat;
color: #ddd;
}

h1,h2,h3,h4,h5,h6{
font-family: "Strait", sans-serif;
color: #bbb;
}

header {
background: transparent ;
border-bottom: 1px solid #222;
}
header span {
    font-family: "Strait", Arial, Helvetica, sans-serif;
}

.navbar {
    font-family: "Strait",Arial,Helvetica,sans-serif;
}

.navbar .nav li { 
    transition-property: opacity; 
    transition-duration: 500ms; 

}

/* .navbar .nav li a strong { 
    opacity:0;
    transition-property: opacity, top;
    transition-duration: 300ms;
} */

.navbar .nav li:hover { 
    opacity:1; 
}

/*.navbar .nav li:hover a strong { 
    opacity:1;
    top: +10px; 
} */

.navbar .nav li a {
    background: url("../img/film_perf.png") no-repeat scroll center center transparent;
    border-left: none;
}

.da-slider {
background: transparent;
border: 0px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px rgb(255, 255, 255);
border-top: 4px solid #444;
border-bottom: 4px solid #444;
}

.da-dots span {
    opacity: 0;
}

.da-slider:hover .da-dots span{
	opacity: 1;
}

header .list {
    color: #ddd;
    width: 230px;
    background: none repeat scroll 0% 0% #222;
    padding: 7px 10px;
    border-right: 1px solid #222;
    border-width: medium 0px 0px;
    border-style: none;
    border-color: -moz-use-text-color #222 #222;
    box-shadow: none;

}    

hr {
	border-bottom-color: #444;
}

.hero h3 span {
    background: none #222;
}

.hero p {
    color: #ddd;
}

.cta {
    background: none repeat scroll 0% 0% #222;
    box-shadow: 0px 0px 1px #222;
    padding: 10px 20px;
    border: 1px solid #222;
    border-radius: 5px 5px 5px 5px;
    margin: 20px 0px;
}

.cta .cbig {
    font-size: 23px;
    color: #bbb;
}

.cta .csmall {
    font-size: 15px;
    color: #ddd;
}

.reel {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.flexslider {
      background: none;
      border: none;
}

.flex-control-nav {
    position: relative;
}
.flexslider .slides li {
    width:360px
    margin-left: auto;
    margin-right: auto;
    background-image: none;
}

.flexslider .slides img {
    width: 370px;
    display: block;
}

.contact .cwell {
    background: transparent;
    border: #222;
  }

.tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}

/*! Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.ui-tooltip-rounded,
.ui-tooltip-rounded .ui-tooltip-content,
.ui-tooltip-tipsy,
.ui-tooltip-tipsy .ui-tooltip-content,
.ui-tooltip-youtube,
.ui-tooltip-youtube .ui-tooltip-content{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
 
.ui-tooltip-rounded .ui-tooltip-titlebar,
.ui-tooltip-tipsy .ui-tooltip-titlebar,
.ui-tooltip-youtube .ui-tooltip-titlebar{
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
 
.ui-tooltip-rounded .ui-tooltip-titlebar + .ui-tooltip-content,
.ui-tooltip-tipsy .ui-tooltip-titlebar + .ui-tooltip-content,
.ui-tooltip-youtube .ui-tooltip-titlebar + .ui-tooltip-content{
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
