/* Flat Earth Color CSS */

header .list {
    position: relative;
    top: -25px;
    width: 230px;
    background: none repeat scroll 0% 0% rgb(25, 25, 25);
    padding: 7px 10px;
    border-right: 1px solid rgb(221, 221, 221);
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221);
  }

body{
border-top:3px solid #828594;
}

.color{
color:#828594;
}

a, a:visited{
color:#828594;
}

a:hover{
color:#d01216;
}

.navbar-inner{
/*background: #222 !important;
border-top:1px solid #222 !important;
border-bottom:1px solid #222 !important; */ 
display: inline-block;
float: none;
}

.navbar-inner {
    background-color: #222;
    border: none;
    text-align: center;
}

.navbar .btn{
background:#d01216 !important;  
}

.navbar .btn:hover{
background:#828594 !important;
}

.navbar .nav{
border-right:1px solid #222;
display:inline-block;
float: none;
}

.navbar .nav > li > a{
background: #828594; 
border-left:1px solid #222;
}

.navbar .nav > li > a:hover{
background:#d01216 !important;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
background: #d01216 !important;
}

.dropdown-toggle{
background: #828594 !important;
}


.dropdown-menu{
background:#828594 !important;
border:1px solid #d01216;
}

.dropdown-menu a{
background:#828594 !important;
border-bottom:1px solid #d01216;
}

.dropdown-menu a:hover,.dropdown-menu a:focus{
background:#d01216 !important;
}

.social i{
background:#828594;
}

.social i:hover{
background:#d01216;
}

.flex-caption{
border-left:4px solid #828594;
}

.service i{
color:#828594;
}

/* Timeline */

.time .tidate{
background:#828594;
}

.time .timatter{
border-bottom:2px solid #828594;
}

/* Events - Accordion*/

.events .accordion-heading h5{
background:#828594;
}

/* Slider */

.da-slider{
border-top: 4px solid #828594;
border-bottom: 4px solid #828594;
}

.da-slide h2{
color:#828594;
}

.da-slide .da-link{
background:#828594;
}

/* Testimonial */

.test{
border-bottom:2px solid #828594;
}

.test-arrow{
border-top-color: #828594;
}

/* Feature alt */

.afeature:hover{
border:5px solid #828594;
}

.afmatter i{
color:#828594;
}


.rpost1:hover,.rpost2:hover{
border-bottom:2px solid #828594;
}

.accordion-heading i{
color:#828594;
}

.process i{
color:#828594;
}

.process-meta span{
background:#828594;
}

.feat h4 i{
color:#828594;
}

.content ul li{
background-image:url('../img/list-r.png');
}

.blog .meta i{
color:#828594;
}

.posts .tags a{
background:#828594;
border:1px solid #d01216;
border-bottom:3px solid #d01216;
}

.posts .tags a:hover{
border-bottom:3px solid #828594;
background:#d01216;
border:1px solid #d01216;
}

.paging a:hover{
background: #828594;
border:1px solid #d01216;
}

.paging .current{
background: #828594;
border:1px solid #d01216;
}

.serv .simg i{
color:#828594;
}

.button a, .button a:visited{
background:#828594;
border-bottom:2px solid #d01216;
}

.button a:hover{
background:#d01216;
}

.pricel .phead-top{
background:#828594;
border:1px solid #d01216;
}

.pricel .phead-bottom{
border-top:1px solid #d01216;
}

.nav-tabs > li > a:hover{
background:#828594;
}

.about .asocial i{
background:#828594;
}

.resume h4{
background:#828594;
}

.resume h5{
color:#828594;
}

footer{
border-top:3px solid #828594;
}

footer ul li{
background-image:url('../img/list-r.png');
}
